src/flows/AssignCountyToAccount-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetAccountCountyName</name>
        <label>SetAccountCountyName</label>
        <locationX>516</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>accountLookup.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <description>Assigned County Name to Account</description>
    <interviewLabel>AssignCountyToAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignCountyToAccount</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>201</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>County</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountLookup</outputReference>
        <queriedFields>County__c</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>County</name>
        <label>County</label>
        <locationX>355</locationX>
        <locationY>160</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAccountCountyName</targetReference>
        </connector>
        <filters>
            <field>Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountLookup.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountLookup.BillingState</elementReference>
            </value>
        </filters>
        <object>County__c</object>
        <outputAssignments>
            <assignToReference>CountyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>687</locationX>
        <locationY>158</locationY>
        <inputReference>accountLookup</inputReference>
    </recordUpdates>
    <startElementReference>Account</startElementReference>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CountyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountyResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>County__c</objectType>
    </variables>
</Flow>
